body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

button {
  margin-left: 4px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  background-color: antiquewhite;
}

button:hover {
  background-color: blue;
}

